{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": [2, "smart"],
    "comma-dangle": [2, "never"],
    "curly": 0,
    "max-len": 0,
    "no-restricted-syntax": 0,
    "semi": [2, "never"]
  }
}
